<footer class="footer navbar-fixed-bottom">
    <div class="wrapper">
        <div class="footer-box">
            <div class="company-footer">
                <img src="././assets/G&S-white.png">
                <h2> G&S </h2>
                <hr>
                <p>O método mais fácil e cómodo de comprar os seus novos
                    equipamentos, sempre com os melhores preços do mercado.
                </p>
            </div>
        </div>
        <div class="footer-box second">
            <div class="footer-social-media">
                <h2> Encontre-nos nas redes sociais </h2>
                <hr>
                <ul class="footer-list">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100070842920345">
                            <img src="././assets/facebook.png">
                            <span> Facebook </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/gs_technologyshop/">
                            <img src="././assets/instagram.png">
                            <span> Instagram </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/gs_computershop">
                            <img src="././assets/twitter.png">
                            <span> Twitter </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrapper">
            <p> Copyright | 2020 - 2021 G&S Company. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>
